.common {
  border-bottom: 1px solid #ededed;
  font-size: 24px;
  position: relative;

  &:last-child {
    border-bottom: none;
  }

  .label {
    display: block;
    line-height: 1.2;
    margin-left: 45px;
    padding: 15px 60px 15px 15px;
    transition: color .4s;
    white-space: pre-line;
    word-break: break-all;
  }

  .toggle {
    appearance: none;
    background: none;
    border: 0;
    bottom: 0;
    height: 40px;
    margin: auto 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 40px;

    &:checked::after {
      content: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
    }

    &::after {
      content: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
    }
  }
}

.normal {
  composes: common;

  &:hover .destroy {
    display: block;
  }

  .edit {
    display: none;
  }
}

.destroy {
  bottom: 0;
  color: #cc9a9a;
  display: none;
  font-size: 30px;
  height: 40px;
  margin: auto 0 11px 0;
  position: absolute;
  right: 10px;
  top: 0;
  transition: color .2s ease-out;
  width: 40px;

  &:hover {
    color: #af5b5e;
  }

  &::after {
    content: '×';
  }
}

.editing {
  border-bottom: none;
  composes: normal;
  padding: 0;

  &:last-child {
    margin-bottom: -1px;
  }

  .edit {
    display: block;
    margin: 0 0 0 43px;
    padding: 13px 17px 12px 17px;
    width: 506px;
  }

  .view {
    display: none;
  }
}

.completed {
  color: #d9d9d9;
  composes: common;
  text-decoration: line-through;

  label {
    color: #d9d9d9;
    text-decoration: line-through;
  }
}
