{
  "extends": "richardkall/react",
  "rules": {
    "arrow-body-style": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-case-declarations": 0,
    "no-confusing-arrow": 0,
    "react/jsx-handler-names": 0
  }
}
