{
  "extends": "richardkall/react",
  "env": {
    "mocha": true
  },
  "globals": {
    "API": true,
    "expect": true,
    "mockStore": true,
    "nock": true,
    "shallowRender": true
  },
  "rules": {
    "no-magic-numbers": 0
  }
}
