.root {
  border-top: 1px solid #e6e6e6;
  color: #777;
  height: 20px;
  padding: 10px 15px;
  text-align: center;

  &::before {
    bottom: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2),
      0 8px 0 -3px #f6f6f6,
      0 9px 1px -3px rgba(0, 0, 0, .2),
      0 16px 0 -6px #f6f6f6,
      0 17px 2px -6px rgba(0, 0, 0, .2);
    content: '';
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
  }

  @media (max-width: 430px) {
    height: 50px;
  }
}

.clearCompleted {
  cursor: pointer;
  float: right;
  line-height: 20px;
  position: relative;
  text-decoration: none;
  visibility: hidden;

  &:hover::after {
    text-decoration: underline;
  }

  &::after {
    content: 'Clear completed';
    position: absolute;
    right: 0;
    visibility: visible;
    white-space: nowrap;
  }
}

.count {
  float: left;
  text-align: left;

  strong {
    font-weight: 300;
  }
}

.filters {
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;

  @media (max-width: 430px) {
    bottom: 10px;
  }

  li {
    display: inline;
  }
}

.filter {
  border: 1px solid transparent;
  border-radius: 3px;
  color: inherit;
  cursor: pointer;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;

  &:hover {
    border-color: rgba(175, 47, 47, .1);
  }
}

.selectedFilter {
  composes: filter;
  border-color: rgba(175, 47, 47, .1);
}
