doctype html
html
  head
    meta(charset="utf-8")
    title Isomorphic React App
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href=assets.main.css)
  body
    #root!= content
    script.
      window.__INITIAL_STATE__ = !{initialState}
    script(src=assets.main.js)
