.common {
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, .2);
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: 24px;
  font-smoothing: antialiased;
  line-height: 1.4em;
  margin: 0;
  outline: none;
  padding: 6px;
  position: relative;
  width: 100%;
}

.normal {
  background: rgba(0, 0, 0, .003);
  border: none;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, .03);
  composes: common;
  padding: 16px 16px 16px 60px;
}

.edit {
  composes: common;
}
