html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #f5f5f5;
  color: #4d4d4d;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  line-height: 1.4;
  margin: 0 auto;
  max-width: 550px;
  min-width: 230px;
}

button {
  appearance: none;
  background: none;
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

button,
input[type='checkbox'] {
  outline: none;
}

.root {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2), 0 25px 50px 0 rgba(0, 0, 0, .1);
  margin: 130px 0 40px 0;
  position: relative;

  h1 {
    color: rgba(175, 47, 47, .15);
    font-size: 100px;
    font-weight: 100;
    position: absolute;
    text-align: center;
    text-rendering: optimizeLegibility;
    top: -200px;
    width: 100%;
  }

  input::placeholder {
    color: #e6e6e6;
    font-style: italic;
    font-weight: 300;
  }
}
